<DOCTYPE !html>
{% load static %}
<html>
    <head>
        <title>Cart</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
        <!--<script defer src="{% static 'script.js' %}"></script>-->
        <link href='https://unpkg.com/css.gg@2.0.0/icons/css/menu-boxed.css' rel='stylesheet'>
    </head>

    <body>
        <div id="header">
            <ul>
                <li><a href="{% url 'store' %} "><i class="gg-menu-boxed"></i></a></li>
              </ul>
        </div>
        <div id="cont">
            <div>
        </div>
    </body>
</html>