<DOCTYPE !html>
{% load static %}
    <html>
    
        <head>
            <title>Shop</title>
            <link rel="stylesheet" href="{% static 'styles.css' %}">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://css.gg/css?=|shopping-cart" rel="stylesheet">
            <!--<script defer src="{% static 'script.js' %}"></script>-->
        </head>
    
        <body>
            <div id="header">
                <ul>
                    <li><a href="{%url 'cart' %} "><i class="gg-shopping-cart"></i></a></li>
                  </ul>
            </div>
            <div id="cont">
                <div id="main">

                    <!--<div class="item"><div id="photo"><img class="img" src="{% static 'example.png' %}" ></div><div class="price">$20</div><div class="tocart">Add to cart</div></div>-->
                    
                    <!--test-->
                    
                    <!--<div class="item">
                        <div class="photo"></div>
                        <div class="price">$20</div>
                        <div class="tocart">Add to cart</div>
                    </div>
                    
                    -->

                    {% for item in myitems %}
                    
                        <div class="item">
                            <div class="photo"></div>
                            <div class="name">{{item.name}}</div>
                            <div class="price">{{item.price}}</div>
                            <div class="tocart">Add to cart</div>
                        </div>
                    
                    {% endfor%}

                </div>
            </div>
            <div id="footer"></div>
        </body>
    
    
    </html>